@charset "utf-8";

/* CSS Document */
html {
    font-size: 32px;
}

/*通过改变根元素字体大小实现自适应*/
@media (min-width: 1440px) {
    /*屏幕过大时，采用固定宽度显示，不再全屏不然会比较累*/
    body {
        width: 1440px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 24px;
    }
}

@media (max-width: 481px) {
    html {
        font-size: 22px;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 273px) {
    /*屏幕过小时产生滚动条*/
    html {
        width: 273px;
    }
}

body {
    background-color: #ffffff;
}

/*标题*/
header {
    width: 100%;
    line-height: 3.33rem; /*垂直居中*/
    background-color: #91d4da;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
}

header a {
    position: absolute;
    left: 0.5rem;
    top: 0;
    color: #ffffff;
    font-weight: bold;
}

header h2 {
    display: inline-block;
}

nav {
    width: 100%;
    line-height: 3rem;
}

nav li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    line-height: 2.6rem;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    border-top: 0.2rem solid #ffffff;
    border-bottom: 0.2rem solid #ffffff;
}

nav li:hover {
    border-bottom-color: #92d5db;
}

/*标签部分*/
.tag {
    width: 100%;
}

.topImg img {
    width: 100%;
    vertical-align: bottom; /*消除图片产生的间隙*/
}

.tagImgBox {
    width: 90%;
    margin: 0 auto;
    padding: 0.4rem 0.4rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tagImgBox .tagImg {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tagImgBox .tagImg img {
    max-width: 70%;
    display: block;
    margin: 0.7rem auto;
}

.tagImgBox .tagImg figcaption {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

/*分栏*/
.subfield {
    width: 100%;
    border-bottom: 1rem solid #f7f7f7;
}

hr.hr {
    width: 90%;
    margin: 0.8rem auto;
    border-bottom: 2px solid #f7f7f7;
}

.fieldBox {
    width: 90%;
    /*height: 40%;*/
    margin: 0 auto;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fieldBox figure {
    margin-bottom: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.fieldBox figure img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

.fieldBox figcaption {
    text-align: center;
}

.fieldBox figcaption p {
    font-size: 0.8rem;
    color: #666666;
}

.midField {
    border-right: 2px solid #ebebeb;
    border-left: 2px solid #ebebeb;
}

/*模块*/
.module {
    width: 100%;
    border-bottom: 1rem solid #f7f7f7;
    margin-top: 0.8rem;
}

.module h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    color: #666666;
    vertical-align: middle;
}

.moduleContent {
    width: 90%;
    margin: 0 auto;
    font-size: 0;
}

.topModule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 1rem;
}

.leftModule img {
    width: 90%;
}

.topModule div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.midModule, .rightModule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.topModule p {
    background-color: #f7f7f7;
    font-size: 0.8rem;
    font-weight: bold;
    color: #333333;
    width: 90%;
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.midModule p {
    margin: 0 auto;
}

.rightModule p {
    margin-right: 0;
    margin-left: auto;
}

/*文章*/
.article {
    width: 100%;
    border-bottom: 2px solid #f7f7f7;
}

.article figure {
    width: 90%;
    margin: 0.6rem auto;
    font-size: 0; /*消除行内元素间空隙*/

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.article .articleBox1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.article .articleImgBox {
    max-width: 30%;
}

.articleImgBox img {
    max-width: 100%;
}

.article figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 65%;
    font-size: 1rem;
    vertical-align: top; /*消除img下面的空隙*/
    padding-left: 5%;
}

.article h3 {
    color: #666666;
    font-size: 0.9rem;
}

.article p {
    color: #cccccc;
    font-size: 0.8rem;
    font-weight: bold;
}

.article p span {
    margin-left: 0.5rem;
}

.article .articleBox2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.article .threeImgBox {
    margin: 0.5rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.threeImgBox .smallImgBox {
    margin: 0 auto;
    font-size: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.article .threeImgBox img {
    max-width: 90%;
    display: block;
}

/*模拟justify-content: space-between;*/
.threeImgBox .midImg {
    margin: 0 auto;
}

.threeImgBox .rightImg {
    margin-right: 0;
    margin-left: auto;
}

