@charset "utf-8";
/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*使用无衬线字体*/
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* 禁止选中文本（如无文本选中需求，此为必选项） */
html, body {
    -webkit-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0; /*只适用于边框分离模式*/
}

select, input {
    font-family: "Helvetical Neue", helvetica, STHeiTi, sans-serif;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

li {
    list-style-type: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; /*父元素字体大小的百分比*/
}

a {
    font-family: "Helvetical Neue", helvetica, STHeiTi, sans-serif;
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: transparent; /*去除点击高亮*/
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}

/*清浮动*/
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.clearfix {
    *zoom: 1;
}
